extends layouts/main

block content
  h1= title

  if courses.length
    .row
      each course in courses
        .col.s12.m6.offset-m2
          .card
            .card-image
              img(src= course.img)
            .card-content
              h2.card-title= course.title
              p.price
                b= `$ ${course.price}`
            .card-action.card-action-flex
              a(href=`/courses/${course.id}`) More

              if isAuth
                a(href=`/courses/${course.id}/edit?allow=true`) Edit
                form(action='/cart/add' method='POST')
                  input(type='hidden', name='id', value= course.id)
                  input(type="hidden", name="_csrf" value= csrf)
                  button.btn.btn-primary(type='submit') Add to cart
  else
    p No courses!
